.button {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14px;
  line-height: 18px;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  color: @white;
  background: @btn-bg-color;

  &:hover {
    background: #5eaa2f;
  }

  &:active {
    background: #5eaa2f;
    color: rgba(255, 255, 255, 0.3);
  }
}

@media (min-width: @tablet-width) {
  .button {
    display: inline-block;
    padding-top: 17px;
    padding-bottom: 15px;
    padding-left: 26px;
    padding-right: 29px;
    font-size: 20px;
    line-height: 20px;
  }
}
