.cooperation {
  padding-top: 29px;
  padding-bottom: 24px;
}

.cooperation__text {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  color: @font-dark;
}

.cooperation__address {
  line-height: 20px;
  font-style: normal;
}
