.copyright__link {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  line-height: 16px;
  color: @font-light;
}

@media (min-width: @tablet-width) {
  .copyright {
    width: 162px;
  }
}
