.data-input {
  padding-top: 12px;
  padding-bottom: 13px;
  padding-left: 15px;
}

.data-input::placeholder {
  font-size: 16px;
  line-height: 18px;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  color: @font-light;
}
