.page-header {
  display: flex;
  flex-direction: column;
  margin-bottom: 22px;
}

.page-header__container {
  .mobile-container;
}

.page-header__logo {
  width: 191px;
  height: 38px;
}

@media (min-width: @tablet-width) {
  .page-header__container {
    display: flex;
    justify-content: space-between;
    .tablet-container;
  }

  .site-list {
    width: 450px;
  }

  .page-header__logo {
    width: 173px;
    height: 58px;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    background-image: url("../../img/index-background-desktop@1x.jpg");
    background-position: right;
    background-repeat: no-repeat;

    &.page-header--inner {
      background: transparent;
    }
  }

  .page-header__container {
    .desktop-container;
  }

  .page-header__logo {
    width: 202px;
    height: 59px;
  }
}
