.page-inner__instruction {
  width: 320px;
  margin: 0 auto;
  margin-bottom: 35px;
  line-height: 18px;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  color: @font-dark;
}

@media (min-width: @tablet-width) {
  .page-inner__instruction {
    width: 708px;
    padding-left: 41px;
  }
}

@media (min-width: @desktop-width) {
  .page-inner__instruction {
    width: 1220px;
    padding-left: 0;
  }
}
