.page-footer {
  padding-top: 39px;
  padding-bottom: 22px;
  background: #f0f0f0;
}

.social__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.copyright__link {
  font-size: 16px;
  line-height: 16px;
  color: @font-light;
}
