.page-inner__container {
  .mobile-container;
}

.page-inner__instruction {
  margin: 0;
  margin-top: 0;
  line-height: 18px;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  color: @font-dark;
}

.page-inner .cooperation {
  background-color: #f2f2f2;
}

@media (min-width: @tablet-width) {
  .page-inner__container {
    .tablet-container;
  }

  .page-inner__instruction {
    padding-top: 32px;
    padding-left: 41px;
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: @desktop-width) {
  .page-inner__container {
    .desktop-container;
  }

  .page-inner__instruction {
    padding-left: 0;
  }
}
