.page-footer {
  background: #f0f0f0;
}

.page-footer__container {
  width: 320px;
  margin: 0 auto;
  padding-top: 39px;
  padding-bottom: 22px;
}

.page-footer__logo {
  width: 128px;
  height: 24px;
}

@media (min-width: @tablet-width) {
  .page-footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 708px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__container {
    width: 1220px;
  }
}
