.page-footer {
  background: #f0f0f0;
}

.page-footer__container {
  .mobile-container;
  text-align: center;
}

.page-footer__logo {
  display: inline-block;
  width: 100%;
  padding-top: 37px;
  padding-bottom: 29px;
  border-bottom: 1px solid #d9d9d9;

  &:hover {
    opacity: 0.8;
  }


  &:active {
    opacity: 0.6;
  }
}

@media (min-width: @tablet-width) {
  .page-footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .tablet-container;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__container {
    .desktop-container;
  }
}
