.products__container {
  width: 320px;
  margin: 0 auto;
}

.products__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.products__item {
  padding-bottom: 20px;
  border: 1px solid #ededed;

  &:nth-child(1n+2) {
    border-top: none;
  }
}

.products__wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 280px;
  margin: 0 auto;
}

.products__link-image {
  width: 50%;
}

.products__about {
  width: 50%;
  padding-top: 23px;
}

.products__title {
  width: 100px;
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  color: @font-dark;
}

.pdoducts__spec {
  margin-top: 12px;
  font-size: 12px;
  line-height: 16px;
}

.pdoducts__spec tr {
  display: flex;
  justify-content: space-between;
}

.pdoducts__filed,
.pdoducts__value {
  padding: 0;
}

.pdoducts__spec {
  width: 100%;
  border-collapse: collapse;
}

.pdoducts__buy {
  width: 100%;
  font-size: 16px;
  line-height: 20px;
}

@media (min-width: @tablet-width) {
  .products__container {
    .tablet-container;
  }

  .products__list {
    font-size: 0;
  }

  .products__item {
    display: inline-block;
    width: 324px;
    margin-right: 60px;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }
}

@media (min-width: @desktop-width) {
  .products__container {
    .desktop-container;
  }

  .products__item {
    width: 245px;
    margin-right: 80px;

    &:nth-child(4n) {
      margin-right: 0;
    }
  }
}
