.products {
  margin: 0 auto;
}

.products__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.products__item {
  padding-top: 22px;
  padding-bottom: 24px;
}

.products__wrapper {
  width: 320px;
  margin: 0 auto;
}

.products__title {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  color: @font-dark;
}

.pdoducts__spec {
  font-size: 12px;
  line-height: 16px;
}

@media (min-width: @tablet-width) {
  .products {
    width: 708px;
  }
  .products__list {
    font-size: 0;
  }
  .products__item {
    display: inline-block;
    width: 324px;
    margin-right: 60px;
    &:nth-child(2n) {
      margin-right: 0;
    }
  }
}

@media (min-width: @desktop-width) {
  .products {
    width:1220px;
  }
  .products__item {
    width: 245px;
    margin-right: 80px;
    &:nth-child(4n) {
      margin-right: 0;
    }
  }
}
