.programms {
  margin-bottom: 22px;
}

.programms__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.programms__title {
  margin: 0;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  color: @font-dark;
}

.programms__description {
  margin: 0;
}

.programms__link {
  font-size: 16px;
  line-height: 16px;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  color: @font-dark;
}
