.questionnaire__container {
  .mobile-container;
}

.questionnaire__data {
  margin-top: 40px;
}

.questionnaire__general-info {
  margin: 0;
  margin-bottom: 9px;
  padding: 0;
  border: none;
}

.questionnaire__owner-info {
  margin: 0;
  margin-bottom: 13px;
  padding: 0;
  padding-top: 28px;
  border: none;
}

.questionnaire__programm {
  width: 320px;
  margin: 0 auto;
  padding-top: 26px;
  padding-bottom: 26px;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid #ededed;
  box-sizing: border-box;
}

.questionnaire__programm-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.questionnaire__filter-programm {
  margin-bottom: 25px;
  padding-left: 45px;

  &:last-child {
    margin-bottom: 0;
  }
}

.questionnaire__icon-mail {
  position: absolute;
  right: 16px;
  top: 50%;
  width: 17px;
  height: 13px;
  margin-top: -6px;
}

.questionnaire__icon-phone {
  position: absolute;
  right: 13px;
  top: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
}

.questionnaire__comment {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  border: none;
}

.questionnaire__comment-text {
  width: 100%;
  min-height: 150px;
  padding-top: 12px;
  padding-left: 16px;
  font-size: 16px;
  line-height: 18px;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  border: 1px solid #e6e6e6;
  color: @font-light;
  box-sizing: border-box;
}

.questionnaire__comment-text::placeholder {
  color: @font-light;
}

.questionnaire__extra-products {
  margin: 0;
  margin-bottom: 39px;
  padding: 0;
  border: none;
}

.questionnaire__extra-data-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.questionnaire__filter-extra {
  margin-bottom: 25px;
  padding-left: 46px;

  &:last-child {
    margin-bottom: 0;
  }
}

.questionnaire__button {
  width: 100%;
  border: none;
}

.questionnaire__extra-info {
  margin: 0;
  margin-top: 20px;
  margin-bottom: 32px;
  text-align: center;
}

.questionnaire__legend {
  font-size: 14px;
  line-height: 16px;
}

@media (min-width: @tablet-width) {
  .questionnaire__container {
    .tablet-container;
  }

  .questionnarie__wrapper {
    padding-left: 42px;
  }

  .questionnaire__extra-data-list {
    font-size: 0;
  }

  .questionnaire__filter-extra {
    display: inline-block;
    width: 284px;
    margin-right: 60px;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }
}

@media (min-width: @desktop-width) {
  .questionnaire__container {
    .desktop-container;
  }

  .questionnarie__wrapper {
    width: auto;
    padding-left: 0;
  }

  .questionnaire__columns {
    display: flex;
    justify-content: space-between;
  }

  .questionnaire__extra-data-list {
    font-size: 0;
  }

  .questionnaire__general-info {
    width: 570px;
  }

  .questionnaire__programm {
    width: 570px;
  }

  .questionnaire__owner-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .questionnaire__owner-email {
    width: 570px;
  }

  .questionnaire__owner-tel {
    width: 570px;
  }

  .questionnaire__comment-text {
    width: 100%;
  }

  .questionnaire__filter-extra {
    width: 245px;
    margin-right: 80px;

    &:nth-child(2n) {
      margin-right: 80px;
    }

    &:nth-child(4n) {
      margin-right: 0;
    }
  }
}
