.questionnarie__wrapper {
  width: 320px;
  margin: 0 auto;
}

.questionnaire__general-info {
  margin: 0;
  margin-bottom: 23px;
  padding: 0;
  border: none;
}

.questionnaire__owner-info {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  padding-top: 30px;
  border: none;
}

.questionnaire__programm {
  margin: 0;
  margin-bottom: 21px;
  padding: 0;
  border: none;
}

.questionnaire__programm-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.questionnaire__comment {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  border: none;
}

.questionnaire__comment-text {
  margin-top: 30px;
}

.questionnaire__comment-text::placeholder {
  font-size: 16px;
  line-height: 18px;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  color: @font-light;
}

.questionnaire__extra-products {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  border: none;
}

.questionnaire__extra-data-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.questionnaire__button {
  border: none;
}

.questionnaire__extra-info {
  margin: 0;
  margin-top: 20px;
  margin-bottom: 30px;
}

.questionnaire__legend {
  font-size: 14px;
  line-height: 16px;
}

@media (min-width: @tablet-width) {
  .questionnaire {
    width: 708px;
    margin: 0 auto;
  }

  .questionnarie__wrapper {
    width: 100%;
    padding-left: 40px;
    padding-right: 37px;
  }

  .questionnaire__extra-data-list {
    font-size: 0;
  }

  .questionnaire__filter-extra {
    display: inline-block;
    width: 284px;
    margin-right: 60px;
    &:nth-child(2n) {
      margin-right: 0;
    }
  }
}

@media (min-width: @desktop-width) {
  .questionnaire {
    width: 1220px;
  }

  .questionnaire__columns {
    display: flex;
    justify-content: space-between;
  }

  .questionnaire__extra-data-list {
    font-size: 0;
  }

  .questionnaire__filter-extra {
    display: inline-block;
    width: 284px;
    margin-right: 60px;
    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  .questionnaire__general-info {
    width: 570px;
  }

  .questionnaire__programm {
    width: 570px;
  }

  .questionnaire__owner_wrapper {
    display: flex;
    justify-content: space-between;
  }

  .questionnaire__owner-email {
    width: 570px;
  }

  .questionnaire__owner-tel {
    width: 570px;
  }

  .questionnaire__comment-text {
    width: 100%;
  }

  .questionnaire__filter-extra {
    width: 245px;
    margin-right: 80px;
    &:nth-child(4n) {
      margin-right: 0;
    }
  }
}
