.site-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

.site-list__item {
  border-bottom: 1px solid #e6e6e6;
}

.site-list__link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  font-size: 16px;
  line-height: 20px;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  color: @font-dark;
}

@media (max-width: @mobile-width-only) {
  .main-nav--closed .site-list__item {
    display: none;
  }

  .main-nav--opened .site-list__item {
    display: block;
  }

  .main-nav--nojs .site-list__item {
    display: block;
  }
}

@media (min-width: @tablet-width) {
  .site-list {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    width: 450px;
    margin-left: auto;
    text-align: left;
  }

  .site-list__item  {
    margin-right: 36px;
    border: none;

    &:last-child {
      margin-right: 0;
    }

    &--active {
      position: relative;

      &:after {
        content: "";
        position: absolute;
        right: 0;
        left: 0;
        bottom: 6px;
        height: 2px;
        background: #68b738;
      }
    }

    &:hover:not(.site-list__item--active) {
      opacity: 0.6;
    }

    &:active:not(.site-list__item--active) {
      opacity: 0.3;
    }
  }

  .site-list__link {
    padding: 0;
    padding-top: 16px;
    padding-bottom: 15px;
    font-size: 18px;
    line-height: 25px;
  }
}

@media (min-width: @desktop-width) {
  .site-list {
    width: 570px;
  }

  .site-list__item {
    margin-right: 34px;

    &::after {
      bottom: 2px;
      background: @white;
    }
  }

  .site-list__link {
    font-size: 20px;
    color: @white;
  }
}
